syntax: glob
*.egg-info
*.mo
*.pyc
.DS_Store
.idea
.installed.cfg
.mr.developer.cfg
.ropeproject
bin
buildout-cache
develop-eggs
dist
etc
log.html
output.xml
parts
report.html
selenium-screenshot-*.png
var
